#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define xxx &none
#define ___ &trans

#define HYPER LS(LA(LC(LCMD)))

#define BT_SEL_0 &bt BT_SEL 0
#define BT_SEL_1 &bt BT_SEL 1
#define BT_SEL_2 &bt BT_SEL 2
#define BT_CLEAR &bt BT_CLR

&mt {
    flavor = "balanced";
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "base";
            bindings = <
    xxx       &kp Q       &kp W      &kp F      &kp P       &kp B        &kp J     &kp L       &kp U      &kp Y      &kp SEMI    &kp BSLH
    &lt 2 ESC &mt LCTRL A &mt LALT R &mt LCMD S &mt LSHFT T &kp G        &kp M     &mt RSHFT N &mt RCMD E &mt RALT I &mt RCTRL O &lt 1 SQT
    xxx       &kp Z       &kp X      &kp C      &mt HYPER D &kp V        &kp K     &mt HYPER H &kp COMMA  &kp DOT    &kp FSLH    &caps_word
                                     xxx        &lt 1 TAB   &lt 3 SPACE  &kp BSPC  &lt 2 RET   xxx
            >;
        };

        sym_layer {
            display-name = "sym";
            bindings = <
    ___       &kp TILDE   &kp CARET  &kp AMPS   &kp PIPE    ___          ___       &kp HASH    ___        ___        &kp DLLR    ___
    ___       &kp UNDER   &kp LBKT   &kp LBRC   &kp LPAR    ___          ___       &kp RPAR    &kp RBRC   &kp RBKT   &kp STAR    ___
    ___       &kp PRCNT   &kp AT     &kp PLUS   &kp MINUS   ___          ___       &kp EQUAL   &kp EXCL   ___        &kp GRAVE   ___
                                     ___        ___         ___          ___       ___         ___
            >;
        };

        nav_layer {
            display-name = "nav";
            bindings = <
    ___       ___        ___         ___        ___         ___          &kp PG_UP &kp HOME    &kp UP     &kp END    ___         ___
    ___       &kp LCTRL  &kp LALT    &kp LCMD   &kp LSHFT   ___          &kp PG_DN &kp LEFT    &kp DOWN   &kp RIGHT  ___         ___
    ___       ___        ___         ___        ___         ___          ___       ___         ___        ___        ___         ___
                                     ___        ___         ___          ___       ___         ___
            >;
        };

        num_layer {
            display-name = "num";
            bindings = <
    ___       &kp F1      &kp F2     &kp F3     &kp F4      ___          ___       &kp N7      &kp N8     &kp N9     ___         ___
    ___       &kp F5      &kp F6     &kp F7     &kp F8      ___          ___       &kp N4      &kp N5     &kp N6     ___         ___
    ___       &kp F9      &kp F10    &kp F11    &kp F12     ___          ___       &kp N1      &kp N2     &kp N3     ___         ___
                                     ___        ___         ___          ___       &kp N0      ___
            >;
        };

        media_layer {
            display-name = "media";
            bindings = <
    ___       ___        ___         ___        ___         ___          ___       ___         ___        ___        ___         ___
    ___       ___        &kp C_PREV  &kp C_PP   &kp C_NEXT  ___          ___       ___         ___        ___        ___         ___
    ___       BT_CLEAR   BT_SEL_0    BT_SEL_1   BT_SEL_2    ___          ___       ___         ___        ___        ___         ___
                                     ___        ___         ___          ___       ___         ___
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };
};
